body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}
.btn-edit {
  background: #2196F3;
}
button:hover {
  background: #1976D2;
}
.btn-delete {
  background: #f44336;
}

.btn-delete:hover {
  background: #d32f2f;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.contador {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.contador p {
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: 0.2s;
}
.contador p:hover {
     transform: translateY(-2px);
}
.card-total {
      background: #2196F3;
}

.card-pendientes {
  background: #FF9800;
}
.card-completadas {
  background: #4CAF50;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #777;
}

.filtros {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filtros button {
  background: #2196F3;
}

.filtros button:hover {
  background: #1976D2;
}